---
layout: base_layout
category: Portfolio
---

<div class="d-flex justify-content-center" style="background-color: rgba(0, 0, 0, 0.05);">
    <div class="col-md-4">
        {% include portfolio_items/video.html url="https://player.vimeo.com/video/874927758" %}
    </div>
</div>

{% assign tiles_per_row = 4 %}
{% assign column_size = 12 | divided_by: tiles_per_row %}

<div class="container">

    {% assign element_index = 0 %}

    {% for project in site.data.professional_projects %}

        {% assign mod = element_index | modulo: 2 %}
        {% assign element_index = element_index | plus: 1 %}

        <a style="text-decoration: none;" href="{{ project.url }}">
        <div class="project-cover row">
                {% if mod == 0 %}
                    <div class="col-7 project-cover-column">
                        {%if project.video %}
                            <div class="video-overlay">
                                <video muted loop>
                                    <source src="{{ project.video | prepend:site.baseurl }}" type="video/mp4" />
                                </video>
                                <img src="{{ project.video_poster | prepend:site.baseurl }}" />
                            </div>
                        {% elsif project.image_swap %}
                            <div class="imgswap">
                                <img class="img-fluid" src="{{ project.image | prepend:site.baseurl }}"/>
                                <img class="img-fluid" src="{{ project.image_swap | prepend:site.baseurl }}"/>
                            </div>
                        {% elsif project.image %}
                            <img src="{{ project.image | prepend:site.baseurl }}"/>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="col-5 project-cover-column">
                    <div class="project-cover-info">
                        <div class="project-cover-inner">
                            <h3 class="text-center">{{ project.title }}</h3>
                            <h5 class="text-center">{{ project.subtitle }}</h5>
                            {% if project.logo %}
                                <img style="max-width: 30vw;" class="img-fluid" src="{{ project.logo | prepend:site.baseurl }}">
                            {% endif %}
                            <h6 class="text-center"><svg xmlns="http://www.w3.org/2000/svg" style="vertical-align: center; margin-right: 5px" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                                <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            </svg>{{ project.date }}
                            </h6>
                        </div>
                    </div>
                </div>
                {% if mod != 0 %}
                    <div class="col-7 project-cover-column">
                        {%if project.video %}
                            <div class="video-overlay">
                                <video muted loop>
                                    <source src="{{ project.video | prepend:site.baseurl }}" type="video/mp4" />
                                </video>
                                <img src="{{ project.video_poster | prepend:site.baseurl }}" />
                            </div>
                        {% elsif project.image_swap %}
                            <div class="imgswap">
                                <img class="img-fluid" src="{{ project.image | prepend:site.baseurl }}"/>
                                <img class="img-fluid" src="{{ project.image_swap | prepend:site.baseurl }}"/>
                            </div>
                        {% elsif project.image %}
                            <img src="{{ project.image | prepend:site.baseurl }}"/>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </a>

    {% endfor %}
</div>

<div style="padding: 50px;"></div>